{% extends 'Loggin/index.html.twig' %}

{% block body %}
<h2 class="page-header">Todos Los Partidos</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Equipo 1</th>
        <th></th>
        <th>Equipo 2</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for partido in partidos %}
      <tr>
          <td>{{partido.Equipo1}}</td>
          <td>vs</td>
          <td>{{partido.Equipo2}}</td>
          <td>
            <a href="/partidos/detalle/{{partido.id}}" class="btn btn-success">
            Ver
            </a>
            <a href="/partidos/editar/{{partido.id}}" class="btn btn-default">
            Editar
            </a>
            <a href="/partidos/eliminar/{{partido.id}}" class="btn btn-danger">
            eliminar
            </a>
          </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
